## 1. Online News Exhibition
<p>Following the changes in working habits during the COVID pandemic, your local library has decided it is time to make the newspaper archives available online. They are not sure what the response will be so they are going to trial a new system on a small set of their data. </p>
<p>The library database has a table <code>articles</code> with a record of all articles published in the newspaper. However, the table will need some preparation before the library can use it in the new system. They would like to focus the initial trial on articles from 2014 and 2015 only, and for just one journalist whose ID in the database is 1754.</p>
<p>The final results should be sorted from earliest published date to the most recent published date.</p>
<p>Below are the requirements the library has given to you for the data they need. </p>
<table>
<thead>
<tr>
<th style="text-align:left;">Requirements</th>
<th style="text-align:left;">Data Type</th>
<th style="text-align:left;">Column Alias</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">Unique ID of each article, where the first 4 digits represents the journalist ID.</td>
<td style="text-align:left;">TEXT</td>
<td style="text-align:left;">article_key</td>
</tr>
<tr>
<td style="text-align:left;">Category of the article, in uppercase.  'Food &amp; Drink' and 'Wellness' should be collapsed  into a 'Lifestyle' category.</td>
<td style="text-align:left;">TEXT</td>
<td style="text-align:left;">category</td>
</tr>
<tr>
<td style="text-align:left;">Headline of the article, without the subtitle that appears after the colon (:).  For example, 'It Could Happen To You: A Story of SEC Overreach' becomes 'It Could Happen To You'.</td>
<td style="text-align:left;">TEXT</td>
<td style="text-align:left;">headline</td>
</tr>
<tr>
<td style="text-align:left;">Subtitles of the article, without the headline that appears before the colon (:). For example, 'It Could Happen to You: A Story of SEC Overreach' becomes 'A Story of SEC Overreach'. In cases where a headline does not have a subtitle, the missing value should read ‘None’.</td>
<td style="text-align:left;">TEXT</td>
<td style="text-align:left;">subtitle</td>
</tr>
<tr>
<td style="text-align:left;">Description of the article. The description should be reduced to the first sentence, up to and including the first period (.) from the short_description column.</td>
<td style="text-align:left;">TEXT</td>
<td style="text-align:left;">description</td>
</tr>
<tr>
<td style="text-align:left;">Keywords of the article. Multiple keywords will be seperated with a dash (-). If the keyword is missing, the value should read ‘Unknown’.</td>
<td style="text-align:left;">TEXT</td>
<td style="text-align:left;">keywords</td>
</tr>
<tr>
<td style="text-align:left;">Date the article was published. The data should be displayed in the format resembling the following: ‘Aug 13, 1995’.</td>
<td style="text-align:left;">TEXT</td>
<td style="text-align:left;">publish_date</td>
</tr>
</tbody>
</table>

In [1]:
%%sql
postgresql:///articles
    
SELECT
    CAST(article_key AS TEXT) as article_key,
    CASE 
        WHEN category = 'FOOD & DRINK' or category = 'WELLNESS' 
        THEN 'LIFESTYLE' 
        ELSE category
        END as category,
    CASE 
        WHEN headline NOT LIKE '%:%' THEN headline
        ELSE TRIM(SUBSTRING(headline,0,STRPOS(headline,':'))) 
        END as headline,
    CASE
        WHEN headline NOT LIKE '%:%' THEN 'None'
        ELSE TRIM(SUBSTRING(headline, STRPOS(headline,':') + 1))
        END as subtitle,
    TRIM(SUBSTRING(short_description,0,STRPOS(short_description,'.')+ 1)) as description,
    CASE
        WHEN keywords IS NULL
        THEN 'Unknown'
        ELSE keywords
        END AS keywords,
   TO_CHAR(release_date::date,'Mon dd, yyyy') as  publish_date
FROM articles
WHERE SUBSTRING(article_key, 1, 4) = '1754'
    AND (release_date LIKE '%2014%' or release_date LIKE '%2015%')
ORDER BY release_date

UsageError: Cell magic `%%sql` not found.